@charset "UTF-8";


*{
margin: 0px;
padding: 0px;
}
body{
    min-width: 345px;
    max-width: auto;
}
header{
    width: 98.2%;
    background-color: brown;
    text-align: center;
    padding: 10px;
    margin: 0px 3px 0px 3px;
}

header > h1{
    color: bisque;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: auto;
}
header > p{
    color: bisque;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: auto;
}
nav{
  
  text-align: center;
  background-color: brown;
  padding: 10px;
  margin: 1px;
}

nav > a{
 
color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 1s;

}
a:hover{
    background-color: darkgray;
    color: antiquewhite;
}
main{
    width: 800px;
    max-width: 100%;
    min-width: 470px;
    margin: 10px auto;
    padding: 10px;
    background-color: #dfe1e4;
    
}
#videoapresentacao{
    background-color: rgba(100, 27, 27, 0.555);
}
#destaques > article p {
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
font-size: 1em;
margin: 5px;
padding: 4px;
}
#destaques > article h2{
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
text-align: center;
margin: 7px 0px
}
 .africa:hover{
    opacity: 0.7;
}